:root{
    --color-black: #1C1C1C;
    --color-white: #f7f7f7;
    --color-dark-1: #00758F;
    --color-dark-2: #025377;
    --color-middle-1: #0096B8;
    --color-middle-2: #0271A1;
    --color-light-1: #00B7E0;
    --color-light-2: #028ECA;
}

body{
    background: var(--color-dark-1);
    margin:0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    margin-top: -100vh;
}

.form{
    width:340px;
    height:380px;
    background:var(--color-white);
    border-radius:20px;
    box-shadow:0 0 40px -10px var(--color-black);

    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative}

h1{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:var(--color-dark-2);
    border-bottom:3px solid var(--color-dark-2);
    font-weight: bold;
}

.form-file {
    position: relative;
	width: 100px;
    height: 100px;
	align-self: center;
    border-radius: 50%;
    background-color: var(--color-dark-2);
    left: 90px;
    margin: 0;
}

.form-file__action input{
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}

.form-file__result {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	width: 100px;
	height: 100px;
	background-color:var(--color-dark-2);
	border-radius: 50%;
	border: 1px dashed var(--color-dark-2);
    transition: bacgroundColor 0.3s linear;
	z-index: 10;
}

.form-file__result::after {
	content: 'Clic para elegir imagen';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100px;
	width: 100px;
	color:var(--color-white);
    text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 15px;
    z-index: 100;
}

.form-file__result img {
	position: relative;
    width: 100px;
	height: 100px;
	object-fit: cover;
	z-index: 500;
}


input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    color:var(--color-black);
    border-bottom:2px solid var(--color-middle-2)
    
}

input:focus{
    border-bottom:2px solid var(--color-dark-2)
}

p:before{
    content:attr(type);
    display:block;
    margin:33px 0 0 0;
    font-size:14px;
    color:var(--color-dark-2)
}

.button{
    float:right;
    height: 50px;
    width: 100px;
    border-radius:20px;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:0px;
    background:var(--color-dark-2);
    color:var(--color-white);
    cursor:pointer;
    transition:all .3s
}

.button:hover{
    background:var(--color-middle-2);
}

a{
    color: var(--color-dark-2);
    position: relative;
    top: 20px;
    text-decoration: none;
}

#particles-js {
    width: 100%;
    height: 100%;
}



